# 车轮运动模块
gpiozero


# OLED模块
adafruit-circuitpython-ssd1306
rpi-gpio
pillow
# opencv-python # 可选


# 摄像头模块
picamera2
opencv-python
# flask   # 可选


# 语音模块
faster-whisper
silero-vad
vosk


# AI模块
langgraph