adafruit-circuitpython-ssd1306
colorzero
contourpy
cycler
faster-whisper
fonttools
gpiozero
kiwisolver
langchain-community
langchain-core
langchain-deepseek
langchain-openai
langgraph
lgpio
opencv-python
pigpio
pyparsing
python-dateutil
python-dotenv
rpi-gpio
rpi-lgpio
silero-vad
vosk
pillow